body {
  background-color: white;
}

table {
  border-spacing: 20px;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.title {
  border: dotted 1px darkblue;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
}

h2.title{
  font-weight: bolder;
}

td {
  border: solid 1px lightblue;
  width: 300px;
}

img {
  text-align: center;
  padding: 0px;
  margin: 0px;

}

p.descrip {
  font-size: 18px;
  margin-top: 0px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: justify;
}

.avail {
  width: 99.5%;
  background-color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 0px;
  color: yellow;
  border: 0px;
  font-weight: normal;
}

.specs{
  font-weight: normal;
  margin-bottom: 0%;
  margin-left: 15px;
}

.bolder-font {
  font-weight: bolder;
  margin-top: 2px;
  margin-left: 25px;
  margin-bottom: 2px;
  font-size: 14px;
}

footer {
  margin: 0% 0% 2px 0%;
  padding: 0%;
  font-size: 11px; 
}

.pricing {
  margin-top: 1px;
  font-weight: normal;
  margin-bottom: 0%;
  margin-left: 15px;
  font-size: 21px;
}

.price-font {
  font-weight: bolder;
  margin-top: 2px;
  margin-left: 25px;
  margin-bottom: 2px;
  font-size: 16px;
}
